<html>
<head>
  <title>My Site</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body id="chrismatic">
    <div id="outside" class="lefthalf black">
        <div class="homeLayout">
            <div class="homeRow intro">
                <div>
                    <h1>HELLO! <br>
                    I'm Viscount. Ruby on Rails developer and Android developer<br>
		</h1>

                </div>
            </div>
            <div class="homeRow footer">
                <div>
                    <div class="mail">
                        <a href="mailto:viscount@moringaschool.com">Contact me!</a>
                    </div>
                </div>
            </div>
            <div class="links">
                <a href="https://github.com/wathika" class="github"><i class="fa fa-github fa-3x"></i></a>
                <a href="https://ke.linkedin.com/pub/viscount-wathika/103/440/658" class="github"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://github.com/wathika" class="github"><i class="fa fa-twitter fa-3x"></i></a>
            </div>
        </div>
    </div>
    <link href="typeface.css" rel="stylesheet">
    <lin</html>
